.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  p {
    font-size: 1.2rem;
    @media (max-width: 1440px) {
      font-size: 1.1rem;
    }
    @media (max-width: 1024px) {
      font-size: 0.9rem;
    }
    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
    @media (max-width: 425px) {
      font-size: 1rem;
    }
  }
}