.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  h1 {
    color: #fff;
    font-size: 2.3rem;
    span {
      color: #8d15ff;
    }
    @media (max-width: 1440px) {
      font-size: 2rem;
    }
    @media (max-width: 1024px) {
      font-size: 1.6rem;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    .link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #8d9fba;
      font-size: 3.125rem;
      .info {
        font-size: 0.25em;
      }
      .icon {
        font-size: 1em;
      }
      @media (max-width: 1440px) {
        font-size: 2.5rem;
      }
      @media (max-width: 1024px) {
        font-size: 2rem;
      }
      @media (max-width: 430px) {
        font-size: 2.5rem;
      }
      @media (max-height: 800px) {
        font-size: 1.8rem;
      }
    }
    @media (max-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
  }
  @media (max-width: 768px) {
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: auto;
  }
}