.container {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  .interaction {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 6px;
    background-color: var(--tab-color);
    .btn {
      font-size: 26px;
      color: var(--search-text-color);
      transition: opacity .2s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }
    input {
      display: flex;
      color: var(--text-color);
      padding: 10px;
      width: 100%;
      max-width: 100%;
      outline: none;
      border: none;
      background-color: var(--tab-color);
      &::placeholder {
        color: var(--search-text-color);
      }
    }
  }
}