.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 5%;
  background-color: #101929;
  @media (max-width: 768px) {
    display: none;
  }
  .wrapper {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}