*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.wrapper {
  display: flex;
  height: 100%
}

main {
  display: flex;
  flex-grow: 1;
}

a {
  color: #50afff;
  text-decoration: none;
  transition: color .2s ease-in-out;
  &:hover {
    color: #ac5aff;
  }
}

.btn {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding: 10px;
  width: fit-content;
  height: 35px;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #2d95f0;
  &.purple {
    background-color: #8d15ff;
  }
}

.input {
  width: 100%;
  height: 2rem;
  font-size: 1.1rem;
  padding: 20px 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #fff;
  background-color: #040e1f;
  @media (max-height: 700px) {
    padding: 15px 10px;
    font-size: 0.8rem;
    height: 1.8rem;
  }
}

.error {
  color: red;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:  rgba(141, 21, 255, 1);
  border-radius: 10px;
  &:hover {
    background-color: rgba(141, 21, 255, 0.9);
  }
}