*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
}

a {
  color: #50afff;
  text-decoration: none;
  transition: color .2s ease-in-out;
  &:hover {
    color: #ac5aff;
  }
}

.error {
  color: red;
}